* {
  box-sizing: border-box;
}

body {
  margin-left: 0;
  margin-bottom:0;
  margin-top: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Arial, Helvetica, sans-serif

}

.header {
  height: 50px; /* size of black strip top*/
  overflow: scroll;
  /* background-color: #f1f1f1; */
  background-color: black;
  padding: 0px 0px; /* to fix position of tab text in to balack strip */
  width: 100%;
  position: fixed;
  margin-bottom:0px;
  font-size: 18 px;
  line-height: ;
  
}

.header a {
  float:left;
  color: yellow;
  text-align: center;
  padding: 14.5px 20px;
  text-decoration: none;
  font-size: 18px;
  line-height:;
  border-radius: 6px;
  position:relative;
  
  

}

.header a.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding-right: 20px;
  padding-left: 14px;
  margin-right: 10%;
  margin-left: 0px;
  text-align:left;
  line-height:1;
}

.header a:hover {
  background-color: #ddd;
  /* background highlight when cursor on navigation menu */
  color: black;
  text-decoration: underline;
  
}


.header a.logo:hover {
  background-color: black;
  /* background highlight when cursor on navigation menu */
  color: white;
  text-decoration: underline;
  border-radius: 6px;
}


/* if you want to highlight one header items */
.header a.active {
  
  
  background-color: black;
  color: yellow;
  display: block;
}

.header a.active:hover {
  background-color: #ddd;
  
  /* background highlight when cursor on navigation menu */
  color: black;
  text-decoration: underline;
  border-radius: 6px;
}

.header-right {
  float: right;
  /* text of right header align to right/left */
  background-color: black;
  margin-right: ;


}
.current {
  background-color: #b23758;
  color: #ffffff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}


@media screen and (max-width: 1200px) {
  /* max width is when the headers will change when smaller screen ( mobile version) */
  .header {
    height: 118px;
    overflow: hidden;
    /* background-color: #f1f1f1; */
    background-color: black;
    padding: 2px 0px;



    z-index: 10000;
    transform: translate3d(0, 0, 0);

   /* customise the width for the header elements. how much width for all header elements together */
     width: 100%; 

  }

  .header a {
    float: left;
    color: yellow;
    text-align: center;
    
    
    padding: 14px 20px; 
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 6px;

    /* customise the width of box surronding the header elements including logo (your name) (this width will hover when bring the cursor on the element. It can further modified from their individual class. you can set different width for logo (your name ) and header element on the right */
    width:100%;
    /* 25% Four links of equal widths */


  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 19px;
    padding-bottom: 19px;
    text-align:center;
    background-color:black;

    /* setting width of the name (logo). The same width will hover when cursor will on it */
    width: 225px;
    
  }

  .header-right {
    float: left;
    background-color: #045e92;
    width: 100%;
    overflow: auto;
    /* do not wrap header element */
    display: flex;
    flex-direction: row;
    /*         */

    text-wrap: nowrap;


  }

  .header a:hover {
    background-color: #ddd;
    /* background highlight when cursor on navigation menu */
    color: black;
    text-decoration: underline;

  }

  .header a.logo:hover {
    background-color:gray;
    /* background highlight when cursor on navigation menu */
    color: white;
    text-decoration: underline;
    border-radius: 6px;
    
    
  }

  /* if you want to highlight one header items */
  .header a.active {
    background-color: #045e92;
    color: yellow;
  }

  .header a.active:hover {
    background-color: #ddd;
    /* background highlight when cursor on navigation menu */
    color: black;
    text-decoration: underline;
    border-radius: 6px;
  }


  .homebutton{
    width: 20%;
    padding: 3px 3px;
    text-align: left;
    height: 20;
    background-color: white;
    margin-left: 91%;
    margin-right: 0;
    font-size: small;
    margin-right: 10%;
    margin-top: ;
    
  
    
  }
  
  
  
  button {
    background-color:white; /* Green */
    border:0cm;
    color: green;
    padding: 3px 3px;
    text-decoration: underline;
    display: inline-block;
    font-size: small;
    cursor: pointer;
    text-align: center;
    width: %;
    margin-top: 10%;
    margin-right: 10%
    
    margin-left: 0%;
    position: fixed;
    font-size: small;
  
    
    
  }
  
  
  
  
  .nav {
    width: 20%;
    height: 20;
    background-color:white;
    font-size:small;
    color:black;
    text-align: left;
    margin-right:0%;
    display: flex;
    flex-direction: column;
    place-items:right;
    margin-top:50%;
    position:fixed;
    margin-left: 91%;
    
    
  }


}

footer {
  height: 70px;
  padding-top:0px;
  padding-bottom: 0px;
  background-color: black;
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%
  
}

footer img {
  width: 40px;
  justify-content: center;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top:0px;
  margin-bottom: 0px;
  


}

footer p {
  color: #b3aeb5;
  font-size: 14px;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 10px;

}

.footerLogos {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

footer li {

  margin-top: 0rem;
  margin-bottom: 0rem;

}


/* home page start */

.hometop-wrapper {

  /* if image has bigger size then it will overflow because image doenot follow the wrapper properties */
  height:700px; /* height of this abouttop-wrapper container; all elements are inside this container*/
  background-color: white; /* backgrong of this container*/
 
 /* padding for element inside this container including image */
  
 padding-bottom:0px;
  padding-top:100px; 
  padding-left:22px;
  padding-right:22px;
  
  text-align: center;
  color: blue;
  margin:px px px px; /* margin of this container, top bottom left right */
}



.homeimage{

  /* to center an image, set margin auto */
  margin-left: auto;
  margin-right: auto;
   margin-top: 10px;
   margin-bottom:10px;
  width:500px;
  height:615px; 
  background-color:gray;
  
  
}

.aboutimage1{

  /* to center an image, set margin auto */
  margin:auto;
  /*margin-left: 250px;
  margin-right: auto; */
   margin-top: 50px;
   margin-bottom:20px;
  width:400px;
  height:420px; 
  background-color:gray;
  
}

.aboutimage2{

  /* to center an image, set margin auto */
 margin:auto;
 
 
 margin-left:0px;
  margin-right: 0px;
  margin-top: 20px;
   margin-bottom:20px;
  width:px;
  height:px; 
  background-color:white;
  
}


/* the text mentioned in image class will not wrap although it is inside wrap container. since image doesnot wrap so that the text listed in image class will also not wrap */
.aboutimage p {
  position:;
  top: %;
  width: %;
  color: black;
  background-color:red;
  
}

/* home page end */




.homebutton{
  width: 20%;
  padding: 3px 3px;
  text-align: left;
  height: 20;
  background-color: white;
  margin-left: 85%;
  margin-right: 0;
  font-size: small;
  margin-right: 10%;
  margin-top: ;
  

  
}



button {
  background-color:white; /* Green */
  border:0cm;
  color: green;
  padding: 3px 3px;
  text-decoration: underline;
  display: inline-block;
  font-size: small;
  cursor: pointer;
  text-align: center;
  width: %;
  margin-top: 20%;
  margin-right: 10%
  
  margin-left: %;
  position: fixed;
  font-size: small;

  
  
}

button:hover{
  background-color:gray;
  /* background highlight when cursor on navigation menu */
  color: white;
  text-decoration: underline;
  border-radius: 6px;

  
  
}


.nav {
  width: 20%;
  height: 20;
  background-color:white;
  font-size:small;
  color:black;
  text-align: left;
  margin-right:0%;
  display: flex;
  flex-direction: column;
  place-items:right;
  margin-top: 12%;
  position:fixed;
  margin-left: 85%;
  margin-top: 23%;
  
  
}


/*///////////////////////////////////////////////////////////////////////////////////////////////
/* About page start */

.tophead-wrapper {

  height:0px;
  background-color: rgb(43, 169, 211); /* backgrong of this container*/
 
 /* padding for element inside this container including image */
  
 
 margin-top:32px;
 margin-bottom: 0px;
 
 padding-top:0px;
 
  padding-left:40px;
  padding-right:20%;
  text-align: justify;
  font-size: 20px; /* font size of text of each page other than about section */

  

}

.about {
  margin-top:px;
 margin-bottom:0px;
 padding-bottom:0px;
  padding-top:100px; 
  padding-left:0px;
  padding-right:0%;
  text-align: justify;
  background-color: white;
  font-size: 20px; /* font size of text in about section */
  
  
}
.top-wrapper {

  height: 0px;
  background-color: rgb(177, 208, 209); /* backgrong of this container*/
 
 /* padding for element inside this container including image */
  
 
 margin-top:1px;
 margin-bottom: 10px;
 
 padding-top:0px;
 
  padding-left:40px;
  padding-right:20%;
  text-align: justify;
  font-size: 5;

  

}
.btn{

  
   background-color:white;
   
}





li {
  margin: 0px 0px;
}

.education{
  margin-top:0px;
 margin-bottom:0px;
 padding-bottom:0px;
  padding-top:60px; 
  padding-left:0px;
  padding-right:0%;
  text-align: justify;
  background-color: white;
  font-size: ;
  
 
  
}


.recognition{
  margin-top:0px;
 margin-bottom:0px;
 padding-bottom:0px;
  padding-top:60px; 
  padding-left:0px;
  padding-right:0%;
  text-align: justify;
  background-color: white;
  font-size: ;
  
  
}

.publicationsabout{
  margin-top:0px;
 margin-bottom:0px;
 padding-bottom:0px;
  padding-top:60px; 
  padding-left:0px;
  padding-right:0%;
  text-align: justify;
  background-color: white;
  font-size: ;
  
  
}

.last{
  margin-top:0px;
 margin-bottom:0px;
 padding-bottom:250px;
  padding-top:0px; 
  padding-left:0px;
  padding-right:0%;
  text-align: justify;
  background-color: white;
  font-size: ;
  
  
}

/*
.mywork{
  margin-top:100px;
  margin-bottom: 0%;
  padding-bottom:0px;
   padding-top:100px; 
   padding-left:0px;
   padding-right:0%;
  text-align: justify;
  background-color: green;
  
  
}

*/

.btn-wrapper{
  margin-top: 0%;
 margin-bottom: 80%;
 padding-bottom:0px;
  padding-top:120px; 
  padding-left:0px;
  padding-right:0%;
  text-align: justify;
  
  
}


/* about page end */


/*///////////////////////////////////////////////////////////////////////////////////////////////


/* Research page start */

.tophead-wrapper {

  height:0px;
  background-color: rgb(43, 169, 211); /* backgrong of this container*/
 
 /* padding for element inside this container including image */
  
 
 margin-top:35px;
 margin-bottom:0px;
 
 padding-top:0px;
 padding-bottom:0px;
 
  padding-left:40px;
  padding-right:20%;
  text-align: justify;

  

}

.research {
  margin-top:70px;
 margin-bottom:0px;
 padding-bottom:0px;
  padding-top:50px; 
  padding-left:30px;
  padding-right:0%;
  text-align: justify;
  background-color: white;
  font-size:100%;
  
  
}

.neutrino {
  margin-top:0px;
 margin-bottom:0px;
 padding-bottom:0px;
  padding-top:60px; 
  padding-left:0px;
  padding-right:0%;
  text-align: justify;
  background-color: white;
  font-size: ;
  
  
}

.researchimage1{

  /* to center an image, set margin auto */
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
   margin-bottom:20px;
 
  width:fit-content;
  height:auto; 
  background-color:white;
  
}

.dune {
  margin-top:auto;
 margin-bottom:auto;
 padding-bottom:0px;
  padding-top:60px; 
  padding-left:0px;
  padding-right:0%;
  text-align: left;
  background-color: white;
  font-size: ;
  
  
}
.top-wrapper {

  height: 0px;
  background-color: rgb(177, 208, 209); /* backgrong of this container*/
 
 /* padding for element inside this container including image */
  
 
 margin-top:1px;
 margin-bottom: 0px;
 
 padding-top:0px;
 
  padding-left:40px;
  padding-right:20%;
  text-align: justify;

  

}




.section1{
  margin-top:px;
  margin-bottom: 0%;
  padding-bottom:0px;
   padding-top:20px; 
   padding-left:40px;
   padding-right:20%;
  text-align: justify;
  background-color:white;
  
  
}

li {
  margin: 10px 0px;
}







/* research page end */


/*///////////////////////////////////////////////////////////////////////////////////////////////

/* Publications page start */

.tophead-wrapper {

  height:0px;
  background-color: rgb(43, 169, 211); /* backgrong of this container*/
 
 /* padding for element inside this container including image */
  
 
 margin-top:35px;
 margin-bottom:0px;
 
 padding-top:0px;
 padding-bottom:0px;
 
  padding-left:40px;
  padding-right:20%;
  text-align: justify;

  

}

.publications {
  margin-top:px;
 margin-bottom:0px;
 padding-bottom:0px;
  padding-top:60px; 
  padding-left:0px;
  padding-right:0%;
  text-align: justify;
  background-color: white;
  font-size: ;
  
  
}



.top-wrapper {

  height: 0px;
  background-color: rgb(177, 208, 209); /* backgrong of this container*/
 
 /* padding for element inside this container including image */
  
 
 margin-top:1px;
 margin-bottom: 0px;
 
 padding-top:0px;
 
  padding-left:40px;
  padding-right:20%;
  text-align: justify;

  

}






li {
  margin: 10px 0px;
}







/* Publications page endt */


/*///////////////////////////////////////////////////////////////////////////////////////////////

/* Talk and presentation page start */

.talknpresentation {
  
  
    margin-top:70px;
   margin-bottom:0px;
   padding-bottom:0px;
    padding-top:50px; 
    padding-left:30px;
    padding-right:0%;
    text-align: justify;
    background-color: white;
    font-size:100%;
    
    
  
  
  
  
}

.conference {
  
  
  margin-top:px;
 margin-bottom:0px;
 padding-bottom:0px;
  padding-top:60px; 
  padding-left:0px;
  padding-right:0%;
  text-align: justify;
  background-color: white;
  font-size: ;
  
  
  




}


.poster {
  
  
  margin-top:px;
 margin-bottom:0px;
 padding-bottom:0px;
  padding-top:60px; 
  padding-left:0px;
  padding-right:0%;
  text-align: justify;
  background-color: white;
  font-size: ;
  
  




}



/* Talk and presentation page end */

/*///////////////////////////////////////////////////////////////////////////////////////////////

/* Teaching page start */

.gta{
  margin-top:0px;
  margin-bottom:0px;
  padding-bottom:0px;
   padding-top:60px; 
   padding-left:0px;
   padding-right:0%;
   text-align: left;
   background-color: white;
   font-size: ;
 
  
}

.onetoone{
  margin-top:0px;
 margin-bottom:0px;
 padding-bottom:0px;
  padding-top:60px; 
  padding-left:0px;
  padding-right:0%;
  text-align: left;
  background-color: white;
  font-size: ;
  
 
  
}

.facilitator{
  margin-top:0px;
 margin-bottom:0px;
 padding-bottom:0px;
  padding-top:60px; 
  padding-left:0px;
  padding-right:0%;
  text-align: left;
  background-color: white;
  font-size: ;
  
 
  
}

/* Teaching page end */

/*//////////////////////////////////////////////////////////////////////////////////////////////

/* Resume page start */

.resume {
  margin-top:px;
 margin-bottom:0px;
 padding-bottom:0px;
  padding-top:60px; 
  padding-left:0px;
  padding-right:0%;
  text-align: justify;
  background-color: white;
  font-size: ;
  
  
}
/* Resume page end */

/*///////////////////////////////////////////////////////////////////////////////////////////////

